#liste{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Début partie Affinage de la recherche*/
#affinage{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 6px solid green;
    border-radius: 20px;
    width: 600px;
    height: auto;
    margin-top: 7%;
}

#case_sort{
    display: flex;
    margin-top: 2%;
    text-align: center;
}


/*Fin de la partie Affinage de la recherche*/

#comparateur{
    display: flex;
    justify-content: center;
    border-top: 3px solid greenyellow;
    margin-top: 10%;
    margin-bottom: 10%;
}
