body{
    background-color: grey;
}
a{
    color: aqua;
}

/*Begin Header*/
    .login-register{
        display: flex;
        color: aquamarine;
        background-color: black;
        padding: 16px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        
    }
    #btn_portail, #titre{
        width: 50%;
        margin-right: 1%;
        text-align: end;
    }
/*Finish Header*/

/*Begin index.php*/

    /*Begin Logo + Description*/
        .logo-descriptif{
            display: flex;
            justify-content: center;
            margin-left: 10%;
            margin-right: 20%;
        }
        .logo{
            margin-bottom: 3%;
        }
        .descriptif{
            display: flex;
            text-align: center;
            align-items: flex-end;
            margin-bottom: 10%;
            margin-left: 10%;
        }
    /*Finish Logo + Description*/

    /*Begin Button*/
        .boite-composant{
            display: flex;
            flex-direction: column;
        }
        .boite{
            display: flex;
            justify-content: center;
        }
        .btn-compare{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 230px;
	        padding: 24px;
            margin-left: 4%;
            margin-right: 5%;
        }

        .composant{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 10%;
        }

        .CSP, .MCA{
            display: flex;
            justify-content: space-around;
            margin-top: 4%;
        }

    /*Finish Button*/
/*Finish index.php*/

/*Begin footer*/
    .contact-plan-site{
        display: flex;
        background-color: black;
        color: aqua;
        justify-content: center;
        align-items: center;
    }
    
    .contact{
        display: flex;
        margin-right: 10%;
        flex-direction: row;
    }
    #form_contact{
        display: flex;
        margin-right: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plan-site{
        margin-left: 10%;
    }
/*Finish footer*/