/*Partie Formulaire*/
    /*Pour les formulaires d'ajout de produit*/
    .form_add{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5%;
    }
    .form_input{
        display: flex;
        width: 200px;
        margin-top: 4%;
        text-align: center;
    }
    .form_add_select{
        display: flex;
        width: 208px;
        margin-top: 4%;
        text-align: center;
    }
    /*Partie*/
    .alim_boitier_cg, .cm_memoire_processeur{
        display: flex;
        justify-content: space-around;
        height: 100%;
        margin-bottom: 2%;
        border-bottom: 5px solid red;
    }

    #add_stockage{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .table, #table_stockage{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    /*Liste des produits*/
    #list_produit, #add_all_produit, #table_alim, #table_boitier, #table_cg, #table_cm, #table_memoire, #table_processeur, #table_stockage{
        display: none;
    }

    /*Partie Bouton*/
        .btn-gestion{
            width: 135px;
            height: 50px;
        }

        .enregistrer{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            margin-top: 8%;
        }
    /*Fin partie Bouton*/

    /*Supprimer des produits*/
        #suppr_modif{
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-top: 2px solid rgb(144, 0, 0);
            margin-top: 5%;
        }
        #form_suppr{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2%;
        }
        .suppr_product{
            margin-top: 2%;
        }
    /*Fin de la partie Suppr*/

    /**/
    #btn-alim-boitier-cg, #btn-cm-memoire-processeur{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 5%;
    }
    #btn_stockage_sort{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
    }
    .btn-list{
        width: 100px;
        height: 50px;
    }



/*Fin partie Formulaire*/