body{
    background-color: darkblue;
    color: aliceblue;
    height: 100%;
    text-align: center;
}

h1{
    margin-top: 5%;
}

.btn_back{
    width: 230px;
    height: 100px;
}

.btn_choice, h1{
    display: flex;
    justify-content: center;
}

.btn_choice{
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.btn_choice{
    display: flex;
    margin-top: 18%;
}

/*Header*/

#header{
    display: flex;
    color: aquamarine;
    background-color: black;
    padding: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
}